<%- include('../partials/headAndNav', { pageName: "Show Route" , otherStyleSheet: "/styles/show.css" , user: user }) %>
    <h1>
        <%= media.name %>
    </h1>
    <div>
        <iframe class="youtb" width="1050" height="590.63" src="<%= media.trailer%>" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <p class="showd">
            <%= media.description %>
        </p>
    </div>
    <div class="pos">
        <img src=<%=media.img %> alt=Movie poster for <%= media.name %>>
    </div>

    <div>
        <% if (media.movieOrShow==="movie" ) { %>
            <form method="POST" action="/home/like/movie/<%= media._id %>?_method=PUT">
                <input type="submit" value="like" class="likeButton">
            </form>
            <% } else { %>
                <form method="POST" action="/home/like/tv/<%= media._id %>?_method=PUT">
                    <input type="submit" value="like" class="likeButton">
                </form>
                <% } %>
    </div>

    </body>

    </html>