<%- include('../partials/headAndNav', { pageName: "Show Route" }) %>
    <<h1>
        <%= media.name %>
    </h1>
    <img src=<%=media.img %> alt=Movie poster for <%= media.name %>>
        <p>
            <%= media.description %>
        </p>



    </body>

    </html>