<%- include('../../partials/headAndNav', {pageName: "Shows" , user:user }) %>
    <h3 class="bekind">Be kind, Unwind</h3>

    <% for(let i=0; i < media.length; i++) { %>
        <% if (media[i].name==="The 100" ) { %>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href=/home/tv/<%=media[i]._id %> class="atag">
                            <p id="jump">The 100</p>
                            <div id="poster">
                                <img id="one" src=<%=media[i].img %> alt="Show Selection">
                            </div>
                        </a>
                        <div class="hide" id="desc">
                            <%= media[i].description %>
                        </div>
                    </div>

                    <div class="col">
                        <% } else if (media[i].name==="Breaking Bad" ) { %>
                            <a href=/home/tv/<%=media[i]._id %> class="atag">
                                <p id="jump">Breaking Bad</p>
                                <div id="poster">
                                    <img id="two" src=<%=media[i].img %> alt="Show Selection">
                                </div>
                            </a>
                            <div class="hide" id="desc">
                                <%= media[i].description %>
                            </div>
                    </div>

                    <div class="col">
                        <% } else if (media[i].name==="Dragon Ball Z" ) { %>
                            <a href=/home/tv/<%=media[i]._id %> class="atag">
                                <p id="jump">Dragon Ball Z</p>
                                <div id="poster">
                                    <img id="three" src=<%=media[i].img %> alt="Show Selection">
                                </div>
                            </a>
                            <div class="hide" id="desc">
                                <%= media[i].description %>
                            </div>
                    </div>

                    <div class="col">
                        <% } else if (media[i].name==="The Flash" ) { %>
                            <a href=/home/tv/<%=media[i]._id %> class="atag">
                                <p id="jump">The Flash</p>
                                <div id="poster">
                                    <img id="four" src=<%=media[i].img %> alt="Show Selection">
                                </div>
                            </a>
                            <div class="hide" id="desc">
                                <%= media[i].description %>
                            </div>
                    </div>

                    <div class="col">
                        <% } else if (media[i].name==="The Last of Us" ) { %>
                            <a href=/home/tv/<%=media[i]._id %> class="atag">
                                <p id="jump">The Last Of Us</p>
                                <div id="poster">
                                    <img id="five" src=<%=media[i].img %> alt="Show Selection">
                                </div>
                            </a>
                            <div class="hide" id="desc">
                                <%= media[i].description %>
                            </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <% } else if (media[i].name==="The Mandalorian" ) { %>
                            <a href=/home/tv/<%=media[i]._id %> class="atag">
                                <p id="jump">The Mandalorian</p>
                                <div id="poster">
                                    <img id="six" src=<%=media[i].img %> alt="Show Selection">
                                </div>
                            </a>
                            <div class="hide" id="desc">
                                <%= media[i].description %>
                            </div>
                    </div>


                    <div class="col">
                        <% } else if (media[i].name==="Power" ) { %>
                            <a href=/home/tv/<%=media[i]._id %> class="atag">
                                <p id="jump">Power</p>
                                <div id="poster">
                                    <img id="seven" src=<%=media[i].img %> alt="Show Selection">
                                </div>
                            </a>
                            <div class="hide" id="desc">
                                <%= media[i].description %>
                            </div>
                    </div>

                </div>
                <% continue; %>
                    <% } else { %>
                        <div id="name">
                            <%= media[i].name %>
                        </div>
                        <div id="poster">
                            <img src=<%=media[i].img %> alt="Show Selection">
                        </div>
                        <div class="hide" id="desc">
                            <%= media[i].description %>
                        </div>
                        <% } %>
                            <% } %>
            </div>