<%- include('../../partials/headAndNav', {pageName: "Movies" , user:user }) %>
    <h3 class="bekind">Be kind, Unwind</h3>

    <% for(let i=0; i < media.length; i++) { %>
        <% if (media[i].name==="21 Jump Street" ) { %>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href=/home/movies/<%=media[i]._id %> class="atag">
                            <p id="jump">21 Jump Street</p>
                            <div id="poster">
                                <img id="one" src=<%=media[i].img %> alt="Movie Selection">
                            </div>
                        </a>
                        <div class="hide" id="desc">
                            <%= media[i].description %>
                        </div>
                    </div>

                    <div class="col">
                        <% } else if (media[i].name==="The Dark Knight" ) { %>
                            <a href=/home/movies/<%=media[i]._id %> class="atag">
                                <p id="jump">The Dark Knight</p>
                                <div id="poster">
                                    <img id="two" src=<%=media[i].img %> alt="Movie Selection">
                                </div>
                            </a>
                            <div class="hide" id="desc">
                                <%= media[i].description %>
                            </div>
                    </div>

                    <div class="col">
                        <% } else if (media[i].name==="Click" ) { %>
                            <a href=/home/movies/<%=media[i]._id %> class="atag">
                                <p id="jump">Click</p>
                                <div id="poster">
                                    <img id="three" src=<%=media[i].img %> alt="Movie Selection">
                                </div>
                            </a>
                            <div class="hide" id="desc">
                                <%= media[i].description %>
                            </div>
                    </div>

                    <div class="col">
                        <% } else if (media[i].name==="Dodgeball" ) { %>
                            <a href=/home/movies/<%=media[i]._id %> class="atag">
                                <p id="jump">Dodgeball</p>
                                <div id="poster">
                                    <img id="four" src=<%=media[i].img %> alt="Movie Selection">
                                </div>
                            </a>
                            <div class="hide" id="desc">
                                <%= media[i].description %>
                            </div>
                    </div>

                    <div class="col">
                        <% } else if (media[i].name==="F9" ) { %>
                            <a href=/home/movies/<%=media[i]._id %> class="atag">
                                <p id="jump">F9</p>
                                <div id="poster">
                                    <img id="five" src=<%=media[i].img %> alt="Movie Selection">
                                </div>
                            </a>
                            <div class="hide" id="desc">
                                <%= media[i].description %>
                            </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <% } else if (media[i].name==="John Wick" ) { %>
                            <a href=/home/movies/<%=media[i]._id %> class="atag">
                                <p id="jump">John Wick</p>
                                <div id="poster">
                                    <img id="six" src=<%=media[i].img %> alt="Movie Selection">
                                </div>
                            </a>
                            <div class="hide" id="desc">
                                <%= media[i].description %>
                            </div>
                    </div>


                    <div class="col">
                        <% } else if (media[i].name==="The Mask" ) { %>
                            <a href=/home/movies/<%=media[i]._id %> class="atag">
                                <p id="jump">The Mask</p>
                                <div id="poster">
                                    <img id="seven" src=<%=media[i].img %> alt="Movie Selection">
                                </div>
                            </a>
                            <div class="hide" id="desc">
                                <%= media[i].description %>
                            </div>
                    </div>

                    <div class="col">
                        <% } else if (media[i].name==="Ocean's Eleven" ) { %>
                            <a href=/home/movies/<%=media[i]._id %> class="atag">
                                <p id="jump">Ocean's Eleven</p>
                                <div id="poster">
                                    <img id="eight" src=<%=media[i].img %> alt="Movie Selection">
                                </div>
                            </a>
                            <div class="hide" id="desc">
                                <%= media[i].description %>
                            </div>
                    </div>

                    <div class="col">
                        <% } else if (media[i].name==="Spiderman No Way Home" ) { %>
                            <a href=/home/movies/<%=media[i]._id %> class="atag">
                                <p id="jump">Spiderman No Way Home</p>

                                <div id="poster">
                                    <img id="nine" src=<%=media[i].img %> alt="Movie Selection">
                                </div>
                            </a>
                            <div class="hide" id="desc">
                                <%= media[i].description %>
                            </div>
                    </div>


                    <div class="col">
                        <% } else if (media[i].name==="The Wolf of Wall Street" ) { %>
                            <a href=/home/movies/<%=media[i]._id %> class="atag">
                                <p id="jump">The Wolf of Wall Street</p>

                                <div id="poster">
                                    <img id="ten" src=<%=media[i].img %> alt="Movie Selection">
                                </div>
                            </a>
                            <div class="hide" id="desc">
                                <%= media[i].description %>
                            </div>
                    </div>
                </div>
                <% continue; %>
                    <% } else { %>
                        <div id="name">
                            <%= media[i].name %>
                        </div>
                        <div id="poster">
                            <img src=<%=media[i].img %> alt="Movie Selection">
                        </div>
                        <div class="hide" id="desc">
                            <%= media[i].description %>
                        </div>
                        <% } %>
                            <% } %>
            </div>